# --- Python (Backend) ---
__pycache__/
*.py[cod]
.venv/
venv/
.env

# --- Node/Next.js (Frontend) ---
node_modules/
.next/
dist/
build/
.DS_Store

# --- JetBrains IDE (PyCharm) ---
.idea/

# --- Database & Storage Volumes ---
postgre_data/
minio_data/