@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    /* ------------------------------------------------------------------- */
    /* LIGHT MODE VARIABLES (Cool & Crisp) */
    /* ------------------------------------------------------------------- */
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* BACKGROUNDS & NEUTRALS */
    --color-Main_BG: #F2F2F2;
    /*--color-surface: #ef0000;    !* Cards / panels (Very Light Gray) *!*/
    --color-BG_light: #FFFFFF;
    --color-BG_dark: #E6E6E6;
    --color-subtext: #4D4D4D;
    --color-Text: #0D0D0D;

    --color-primary: #0043E5;
    --color-secondary: #00B5E5;
    --color-power: #E5A200;
    /* ------------------------------------------------------------------- */
    /* DARK MODE VARIABLES (Deep Sea Abyss) */
    /* ------------------------------------------------------------------- */
    --color-Dark_Main_BG: #1A1A1A;
    /*--color-Dark_surface: #ef0000;*/
    --color-Dark_BG_light: #292929;
    --color-Dark_BG_dark: #121212;
    --color-Dark_subtext: #B3B3B3;
    --color-Dark_Text: #F2F2F2;

    --color-Dark_primary: #1A5CFF;
    --color-Dark_secondary: #1ACFFF;
    --color-Dark_power: #FFBC1A;

    --font-space-grotesk: var(--font-space-grotesk);
}

@layer components {
  /* Create your custom variable class here */
  .input-primary {
    @apply w-full bg-BG_dark dark:bg-Dark_BG_dark border border-white/10 rounded-lg px-4 py-3 text-sm text-Text dark:text-Dark_Text placeholder:text-subtext dark:placeholder:text-Dark_subtext focus:outline-none focus:ring-2 focus:ring-power dark:focus:ring-Dark_power;
  }
}